fastapi
uvicorn[standard]
transformers>=4.40.0
torch
sentencepiece
sacrebleu
sacremoses
bert-score
pandas
numpy
indic-nlp-library
paddleocr
paddlepaddle
datasets
huggingface_hub
sentence-transformers
pydantic
python-multipart
httpx
